@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: rgb(0,156,99);
    --font-family: Roboto;
}

body {
    margin: 0;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}

.no-gap {
    gap:unset;
}
.row-reverse {
    flex-direction: column;
}

.column {
    flex:1;
    flex-basis: 0;
    margin-left: calc(1.5em / 2);
    margin-right: calc(1.5em / 2);
}
.column.clearfix{
    margin-left: 0;
    margin-right: 0;
}
.column.flex{
    display: flex;
}

.column.is-four-fifths {
    max-width: 80%;
}

.column.is-three-quarters {
    max-width: 75%;
}

.column.is-two-thirds {
    max-width: 66.6666%;
}

.column.is-three-fifths {
    max-width: 60%;
}

.column.is-two-fifths {
    max-width: 40%;
}

.column.is-one-third {
    max-width: 33.3333%;
}

.column.is-third {
    max-width: 30%;
}

.column.is-one-quarter {
    max-width: 25%;
}

.column.is-one-fifth {
    max-width: 20%;
}

.column.is-one-tenth {
    max-width: 10%;
}

.column.is-one-tenth--mobile {
    max-width: 10%;
}
.column.is-half {
    max-width: 50%;
}
